
            #menu{float: left; 
                position: relative;
                z-index: 10;
                margin: 1em 0;
                border: 1px solid #aaa;}
            #menu ul { margin:0; padding:0; list-style:none; text-align:center; font-size:.1em; letter-spacing:-2px; }
            #menu li{ display:inline-block;}
            #menu .menu2 li{ display:inherit; }
            .menu2{
                float: right;
        
            }
            


            #menu a { display:block; width:14em; height:3em; font-size:14px; letter-spacing:normal; line-height:3em; color:#000; background:#fff; text-decoration: none;}
            
      
@media screen and (min-width: 992px) and (max-width: 1200px){
    #menu a{width: 12em; height: 2.5em; line-height: 2.5em; }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    #menu a{width: 10em; height: 2.5em; line-height: 2.5em; }
}




            #menu li ul { left:-4000px; position:absolute; }
            
            /* Survol d'un lien racine */
            #menu li:hover > a { color: #fff; background: #c0392b; }
            #menu li li:hover > a { color: #fff; background: #ccc; }

            #menu li:hover > ul { left: auto;}





            


  #menuxs select { 
    display: inline-block; 
    width: 100%;
    margin: 1em;

    } 






/*****LISTE DE FILMS*****/

.marg{
    margin: 1em 0;
}

.film-list{
    background-color: #fff;
    padding: 1em;

}

.film-list p:not(.boutonfdj){
    font-size: 1.1em;
}

.titre h1{
    font-size: 1.8em;
}

.note{
    font-size: 1em;
    line-height: 4em;
    color: #c0392b;
    float: none;
    padding: 0;
}

.affiche{
    width: 85%;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .affiche{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .affiche{
        width: 100%;
    }


}

@media screen and (max-width: 767px){
    .affiche{
        width: 30%;
    }
}


.boutonfdj{
    font-size: 1em;
}


