

.titre_profil {
	text-transform: uppercase;
}

@media screen and (min-width: 769px){
	legend {
		margin-left: 10%;
	}

}

@media screen and (min-width: 769px) and (max-width:1068px ) {
	.container.profil{
		width: 85%;
	}

	.titre_profil{
		width: 40%;
		height: 40%;
		
	}

	.navbar-nav li:nth-child(4){
		margin-right: 0;
	}

		.navbar-brand{
		font-size: 3em;
	}
}


@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_profil{
	width: 60%;
	height: 60%;
	}
	
	.container.profil{
	width: 85%;
	}


	#contact input[type=text],#contact input[type=email],#contact textarea{
    width: 85%;
	}

}

@media only screen and (max-width: 480px) {
	.titre_profil{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}

	.profil table h2, .profil table h3 {
		font-size: 1.4em;
	}

	.profil table p {
		font-size: 0.9em;
	}

	.container.profil{
	width: 85%;
	}

	.titre_profil{
	float: none;
	font-size: 1.3em;
	}

	#contact input[type=password],#contact input[type=email]{
    width: 85%;
	}

}

/*###### Modif profil ######*/

.container.mdfp{
	width: 974px;
	text-align:center;
}

.mdfp .row div{
	background-color: #fff;
}


.titre_fdj{
	float: left;
}



.mdfp .row img{
	margin-bottom: 1.6em;
}

.mdfp table {
	margin-left:auto; 
    margin-right:auto;
    text-align: left;
}

.mdfp table img {
	padding-right:10%; 

}

.mdfp table h2, .mdfp table h3 {
	padding-left:10%; 
	text-transform: none;


}

.mdfp table h3 {
	color: grey;
}

.mdfp form legend {
	text-align: left;
	border: none;
}

.line-right {
  margin-right: 1px;
  border-right: 1px solid grey;
}


a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus{
	color: #2c774b;
	outline: none;
	text-decoration: none;
}

a.imageprofil .modifbouton{
  color:transparent;
   margin-right:10%;
   text-decoration: none;
   position: relative;
   top: -3em;

}

a.imageprofil .modifbouton:hover{
	color:white;
	background-color:black;
   	text-decoration: none;
   	opacity: 0.3;

}


#contact input[type=password],#contact input[type=email]{
    background-color: transparent;
    color:#FFF;
    border: solid 0.1em #000000; 
    width: 510px;
    height: 36px;
    border-radius: 0px;
}

input {
	border:none;
	border-color: red;
	background-color: transparent;
	margin-bottom: 10px;
}

.boutonfdj{
	display: inline-block;
	background-color:#c0392b;
	color:white;
	width: 12em;
	height: 2.5em;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
}

.boutonfdj a{
	color: white;
}

@media screen and (min-width: 769px) and (max-width:1068px ) {
.container.mdfp{
	width: 85%;
}

.titre_fdj{
	width: 40%;
	height: 40%;
	
}

.navbar-nav li:nth-child(4){
	margin-right: 0;
}

	.navbar-brand{
	font-size: 3em;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_fdj{
	width: 60%;
	height: 60%;
	}
	
	.container.mdfp{
	width: 85%;
	}


	#contact input[type=password],#contact input[type=email]{
    width: 85%;
	}

}

@media only screen and (max-width: 480px) {
	.titre_fdj{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}

	.mdfp table h2, .mdfp table h3 {
		font-size: 1.4em;
	}

	.container.mdfp{
	width: 85%;
	}

	.titre_fdj{
	float: none;
	font-size: 1.3em;
}

	#contact input[type=password],#contact input[type=email]{
    width: 85%;
	}

}

/*############ Fin Modif profil ##############*/

