.container.profil{
	width: 974px;
	text-align:center;
}

.container.filmavoir, .container.dejavu {
	margin-top:7%;
}



/*####PROFIL#####*/

.profil .row div{
	background-color: #fff;
}

.profil .row img{
	margin-bottom: 1.6em;
}

.profil table {
	margin-left:auto; 
    margin-right:auto;
    text-align: left;
}

.profil table img {
	padding-right:10%; 

}

.profil table h2, .profil table h3 {
	padding-left:10%; 
	text-transform: none;
}

.profil table p {
	margin-left:10%; 
	text-transform: none;
	margin-top: 20px;
	margin-bottom: 10px;
}

.profil table h3 {
	color: grey;
}

.profil form legend {
	text-align: left;
	border: none;
}

.line-right {
  border-right: 1px solid #aaa;
}

@media screen and (max-width: 767px){
	.line-right {
  border-right: none;
  border-bottom: 1px solid #aaa;
}
}
.boutonfdj{
	display: inline-block;
	background-color:#c0392b;
	color:white;
	width: 12em;
	height: 2.5em;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
}

.boutonfdj a{
	color: white;
}

.titre_profil {
	text-transform: uppercase;
}

.plusdefilm{
	color: #8C8C8C;
}

/*####FIN PROFIL#####*/

/*####A VOIR PLUS TARD#####*/

.filmavoir .row img{
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.filmavoir h2{
	margin-top: 0px;
	font-size: 18px;
}

.filmavoir a, .filmavoir p{
	color: #c0392b;
}

.filmavoir a:hover {
	text-decoration: underline;
}

.liste_film_a_voir{
	clear: both;
}

.filmavoir.a_voir{
	float: left;
}

/*####FIN A VOUR PLUS TARD#####*/

/*####DEJA VU#####*/

.dejavu .row img{
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.dejavu h2{
	margin-top: 0px;
	font-size: 2em;
}

.dejavu a, .dejavu p{
	color: #c0392b;
}

.dejavu a:hover {
	text-decoration: underline;
}

/*####FIN DEJA VU#####*/

@media screen and (min-width: 769px) and (max-width:1068px ) {
	.container.profil{
		width: 85%;
	}

	.titre_profil{
		width: 40%;
		height: 40%;
		
	}

	.navbar-nav li:nth-child(4){
		margin-right: 0;
	}

		.navbar-brand{
		font-size: 3em;
	}
}


/*############################HOVER#######################################*/
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 250px;
	max-width: 260px;
	max-height: 360px;
	min-height: 360px;
	width: 48%;
	background: #C0392B;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 338px;
	max-height: 338px;
	max-width: 250px;
	min-width: 250px;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

/* .grid figure h2 span {
	font-weight: 800;
} */

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/*###########################fin################################*/




@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_profil{
	width: 60%;
	height: 60%;
	}
	
	.container.profil{
	width: 85%;
	}


	#contact input[type=text],#contact input[type=email],#contact textarea{
    width: 85%;
	}

}

@media only screen and (max-width: 480px) {
	.titre_profil{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}

	.profil table h2, .profil table h3 {
		font-size: 1.4em;
	}

	.profil table p {
		font-size: 0.9em;
	}

	.container.profil{
	width: 85%;
	}

	.titre_profil{
	float: none;
	font-size: 1.3em;
	}

	#contact input[type=text],#contact input[type=email],#contact textarea{
    width: 85%;
	}

}

@media only screen and (max-width: 768px) {

.profil .titre-section{
	float: center;
	margin-left: auto;
	}

}
