.questionnaire .titre-section, .finquest .titre-section{
	top: -1em;
	float: left;
	margin-left: 5%;
}

/*###### questionnaire ######*/
.container.questionnaire{
	width: 974px;
	text-align:center;
}

.questionnaire .row div{
	background-color: #fff;
}

#question {
	border: black solid 1px;
	padding: 2.5em 2em;
	margin-bottom: 1.2em;
	font-size: 1.3em;
}

#question h2 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
}

.questionnaire .row img{
	margin-bottom: 1.6em;
}


a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus{
	color: #2c774b;
	outline: none;
}


.boutonquest{
	display: inline-block;
	background-color:#c0392b;
	color:white;
	width: 100%;
	padding: 0 1em;
	height: 5em;
	margin: 1em 0px;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
}

.boutonquest a{
	color: white;

}

.btnq{
	float: left;
	clear: right;
}

@media screen and (min-width: 769px){
		#question{
		margin-bottom: 50px;
		height: 13em;
	}

}

@media screen and (min-width: 769px) and (max-width:1068px ) {
	.container.questionnaire{
		width: 85%;
	}

	.titre_fdj{
		width: 40%;
		height: 40%;
		
	}



	.navbar-nav li:nth-child(4){
		margin-right: 0;
	}

	.navbar-brand{
		font-size: 3em;
	}

	.titre_profil{
		width: 40%;
		height: 40%;
		
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_fdj{
	width: 60%;
	height: 60%;
	}
	
	.container.questionnaire{
	width: 85%;
	}

	.titre_profil{
	width: 60%;
	height: 60%;
	}

		#question h2 {
		font-size: 1.8em;
	}
	

}

@media only screen and (max-width: 480px) {
	.titre_fdj{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}

	.container.questionnaire{
	width: 85%;
	}

	.titre_fdj{
	float: none;
	font-size: 1.3em;
	}

	.titre_profil{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}


	.titre_profil{
	float: none;
	font-size: 1.3em;
	}

	#question h2 {
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 768px) {

	.questionnaire .titre-section, .finquest .titre-section{
	float: center;
	margin-left: auto;
	}

}

/*############ Fin questionnaire ##############*/

/*####RETOUR QUESTIONNAIRE#####*/

.finquest .row div{
	background-color: #fff;
}

.finquest .row img{
	margin-bottom: 1.6em;
}

.boutonfdj{
	display: inline-block;
	background-color:#c0392b;
	color:white;
	width: 12em;
	height: 2.5em;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
}



.finquest .boutonfdj {
	margin: 0 auto;
	margin-bottom: 0.8em;
}

.finquest a .boutonfdj{
	color: white;
}

.finquest .boutonfdj:hover{
background-color: #fff;
color: #c0392b;
border:solid 1px #c0392b;
}

.finquest .row img{
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.finquest h2{
	margin-top: 0px;
	font-size: 2em;
}

.finquest a, .finquest p {
	color: black;
}

.finquest a .plusdefilm {
	color: #c0392b;
}

.finquest a .plusdefilm:hover {
	text-decoration: underline;
}

/*####FIN RETOUR QUESTIONNAIRE#####*/


@media screen and (min-width: 769px) and (max-width:1068px ) {
	.container.finquest{
		width: 85%;
	}

	.titre_finquest{
		width: 40%;
		height: 40%;
		
	}

	.navbar-nav li:nth-child(4){
		margin-right: 0;
	}

		.navbar-brand{
		font-size: 3em;
	}
}


@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_finquest{
	width: 60%;
	height: 60%;
	}
	
	.container.finquest{
	width: 85%;
	}
}

@media only screen and (max-width: 480px) {
	.titre_finquest{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}

	.container.finquest{
	width: 85%;
	}

	.titre_finquest{
	float: none;
	font-size: 1.3em;
	}

}