/*------demo------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


@font-face {
    font-family: 'angelinaregular';
    src: url('../fonts/angelina/angelina-webfont.eot');
    src: url('../fonts/angelina/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angelina/angelina-webfont.woff2') format('woff2'),
         url('../fonts/angelina/angelina-webfont.woff') format('woff'),
         url('../fonts/angelina/angelina-webfont.ttf') format('truetype'),
         url('../fonts/angelina/angelina-webfont.svg#angelinaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face{
	font-family:"Good Times";
    src:url('../fonts/Good%20Times/good_times_rg-webfont.eot');
    src: url('../fonts/Good%20Times/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Good%20Times/good_times_rg-webfont.ttf') format('truetype'),
         url('../fonts/Good%20Times/good_times_rg-webfont.woff') format('woff'),
		 url('../fonts/Good%20Times/good%20times%20rg.otf') format('otf');
	font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family:"Raleway";
    src:url('../fonts/Raleway/raleway-medium.eot');
    src: url('../fonts/Raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway/raleway-medium.ttf') format('truetype'),
         url('../fonts/Raleway/raleway-medium.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family : "microsoft-yi-baiti";
    src : url('../onts/yi-baiti/microsoft-yi-baiti.ttf');
}

html, body {
	margin:0px;
	padding:0px;
	height:100%;	
}


body{
	background-image: url(../img/txtfond.jpg);
	background-repeat: repeat;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size:1.3em;
	margin:10px;
	margin:0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family : "microsoft-yi-baiti", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/*###### Menu ######*/

nav{
	background-color:#000;
}

.navbar{
	margin-bottom: 4em;


}
.navbar .nav{
	margin: 0;
}

.navbar-nav{
	float: right !important;
	height:60px;
	
}

.navbar > .container .navbar-brand{
	margin-left: 0;
}

.navbar-brand{
	padding:5px 15px;
	font-family: 'angelinaregular';
	font-size: 3.5em;
}

.navbar-header h4{
	font-family: 'angelinaregular';
	font-size: 2.5em;
	text-transform: capitalize;
	text-align: center;

}

.navbar-brand > img{
	display: inline-block;
	margin-right: 0.2em;
}
.navbar-nav li{
	height:100%;

}
	
.navbar-nav li a{
	height:100%;
	line-height:38px;
	}

.navbar-nav li:nth-child(4){
	margin-right: 3em;
}


.container{
	padding:0;}

.navbar-collapse{
	background-color:white;
	padding-right: 0;
}
	
.logorecherche{
	height:60px;
}

.recherche a{
	margin:0;
	padding:0 !important;
}


/*###### Film du jour ######*/

.container.fdj{
	width: 85%;
	text-align:center;
}

.fdj .row{
	padding-bottom: 3em;
	border-bottom: solid 0.1em #cdcdcd;
}
.fdj .row div{
	background-color: #fff;
}



.titre_fdj{
	width: 14.25em;
	height: 3.375em;
	background-color:#c0392b;
	color:white;
	font-size:1.5em;
	display:inline-block;
	/*padding:0.625em;*/
	line-height: 3.375em;
	vertical-align: middle;
	margin:auto;
	position:relative;
	top:-1em;
}



.fdj .row img{
	margin-bottom: 1.6em;
}



a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus{
	color: #2c774b;
	outline: none;
}




.fdj .row div:nth-child(2){
	text-align: left;
}

.fdj .row div:nth-child(2) h2, h2+p{
	display: inline-block;
}

.fdj .row div:nth-child(2) .infos{
	display: inline-block;
}

.boutonfdj{
	display: inline-block;
	background-color:#c0392b;
	color:white;
	width: 12em;
	height: 2.5em;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
}

.boutonfdj a{
	color: white;
}

@media screen and (min-width: 769px) and (max-width:1068px ) {


.titre_fdj{
	width: 60%;
	height: 60%;
	
}

.navbar-nav li:nth-child(4){
	margin-right: 0;
}

	.navbar-brand{
	font-size: 3em;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_fdj{
	width: 60%;
	height: 60%;
	}



}

@media only screen and (max-width: 480px) {
	.titre_fdj{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}


}

/*###### fin film du jour ######*/

/*###### Modif profil ######*/

.container.mdfp{
	width: 974px;
	text-align:center;
}

.mdfp .row div{
	background-color: #fff;
}



.titre_fdj{
	width: 14.25em;
	height: 3.375em;
	background-color:#c0392b;
	color:white;
	font-size:1.5em;
	display:inline-block;
	/*padding:0.625em;*/
	line-height: 3.375em;
	vertical-align: middle;
	margin:auto;
	position:relative;
	top:-1em;
	float: left;
}



.mdfp .row img{
	margin-bottom: 1.6em;
}

.mdfp table {
	margin-left:auto; 
    margin-right:auto;
    text-align: left;
}

.mdfp table img {
	padding-right:10%; 

}

.mdfp table h2, .mdfp table h3 {
	padding-left:10%; 
	text-transform: none;


}

.mdfp table h3 {
	color: grey;
}

.mdfp form legend {
	text-align: left;
	border: none;
}

.line-right {
  margin-right: 1px;
  border-right: 1px solid grey;
}


a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus{
	color: #2c774b;
	outline: none;
}

#contact input[type=text],#contact input[type=email],#contact textarea{
    background-color: transparent;
    color:#FFF;
    border: solid 0.1em #000000; 
    width: 510px;
    height: 36px;
    border-radius: 0px;
}



.boutonfdj{
	display: inline-block;
	background-color:#c0392b;
	color:white;
	width: 12em;
	height: 2.5em;
	line-height: 2.5em;
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
}

.boutonfdj a{
	color: white;
}

@media screen and (min-width: 769px) and (max-width:1068px ) {
.container.mdfp{
	width: 85%;
}

.titre_fdj{
	width: 40%;
	height: 40%;
	
}

.navbar-nav li:nth-child(4){
	margin-right: 0;
}

	.navbar-brand{
	font-size: 3em;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) { 
	.titre_fdj{
	width: 60%;
	height: 60%;
	}
	
	.container.mdfp{
	width: 85%;
	}


	#contact input[type=text],#contact input[type=email],#contact textarea{
    width: 85%;
	}

}

@media only screen and (max-width: 480px) {
	.titre_fdj{
	width: 50%;
	height: 50%;
	font-size: 95%;
	}

	.mdfp table h2, .mdfp table h3 {
		font-size: 1.4em;
	}

	.container.mdfp{
	width: 85%;
	}

	.titre_fdj{
	float: none;
	font-size: 1.3em;
}

	#contact input[type=text],#contact input[type=email],#contact textarea{
    width: 85%;
	}

}

/*###### Fin Modif profil ######*/


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #9f1709;

	width: 100%;
	height:10%;
	
}

.codrops-header h1 {
	display:inline-block;
	margin: 0;
	font-family:"Good Times";
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1.6;
	vertical-align: middle;
	text-align: center;
	color:white;
	
}


/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 400;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	line-height: 2.5em;
	width: 5%;	
	min-height: 300px;
	position: relative;
	
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}


button {
	border: none;
	background:none;
	color: #fff;
	font-family: 'Lato', 'Calibri', Arial, sans-serif;
	font-size: 1em;
	
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	
	border-radius: 2px;
}


.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
	opacity: 0.7;
	color: #aca89a;
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}


/*Modif by Héma*/
.codrops-header{
	padding-top:14px;
}

.codrops-header .column{
	margin-top:-2px;
}

.codrops-header a.quizz{
	display:inline-block;
	float:right;
	margin-left:-10px;
	margin-right:10px;
	margin-top:4px;
}


/*###### caroussel ######*/
/* Global */

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }


/* Container */
.container-fluid {
    background: #FFFFFF;
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.container-fluid-carrousel {
    background: #FFFFFF;
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    background-color: transparent;
}
/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #000;
        }



/* Thumbnail Box */
.carousel-inner ul li {
	background-color: white;

}

.caption h4 {
    font-size: 1rem;
    color: #444;
    }
    .caption p {
        font-size: 0.75rem;
        color: #999;
        }
        .btn.btn-mini {
            font-size: 0.63rem;
            }

/*control*/
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }
        
/* Footer */
.footer {
    margin: auto;
    width: 100%;
    max-width: 960px;
    display: block;
    font-size: 0.69rem;
    }
    .footer, .footer a {
        color: #c9e4f7;
        }
        p.right  { 
            float: right; 
            }
		


/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}

