/*------demo------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face{
	font-family:"Good Times";
    src:url('../fonts/Good%20Times/good_times_rg-webfont.eot');
    src: url('../fonts/Good%20Times/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Good%20Times/good_times_rg-webfont.ttf') format('truetype'),
         url('../fonts/Good%20Times/good_times_rg-webfont.woff') format('woff'),
		 url('../fonts/Good%20Times/good%20times%20rg.otf') format('otf');
	font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family:"Raleway";
    src:url('../fonts/Raleway/raleway-medium.eot');
    src: url('../fonts/Raleway/raleway-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Raleway/raleway-medium.ttf') format('truetype'),
         url('../fonts/Raleway/raleway-medium.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}


html, body {
	margin:0px;
	padding:0px;
	height:100%;	
}



nav{
	background-color:#000;
}


body {
	background-image:url('../img/fond-accueil.jpg');
	background-repeat: no-repeat;
  	background-size: cover;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;

	font-size:1.2em;
	margin:10px;
	margin:0 auto;
}




a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus{
	color: #2c774b;
	outline: none;
}


.accueiljour, 
.accueilrecom{
	color: white;

}

.accueiljour{
	clear:both;
	margin-top: 18%;
	/*height: 70%;*/
	width: 100%;
}

.accueiljour h2{
	font-family:"Raleway";
	text-align:center;
	font-weight:300;
	padding-top:10px;
	font-size:1.4em;
}

.accueiljour h3{
	font-family:"codropsicons";
	text-align:center;
	font-weight:300;
	font-style:italic;
}

.accueiljour img{
	margin-left:95px;
	width:180px;
}

.accueilrecom{
	background-color: rgba(0, 0, 0, 0.4);
	/*height: 30%;*/
	width: 100%;
	vertical-align: bottom;
	height:300px;
	
}

.accueilrecom h2{
	font-family:"Raleway";
	font-size:1.1em;
	text-align:center;
	font-weight:300;
	padding-top:10px;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.codrops-header,
.codrops-top {
	font-family: 'Lato', Arial, sans-serif;
}

.codrops-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #9f1709;

	width: 100%;
	height:10%;
	
}

.codrops-header h1 {
	display:inline-block;
	margin: 0;
	font-family:"Good Times";
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1.6;
	vertical-align: middle;
	text-align: center;
	color:white;
	
}


/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 400;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	line-height: 2.5em;
	width: 5%;	
	min-height: 300px;
	position: relative;
	
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}


button {
	border: none;
	background:none;
	color: #fff;
	font-family: 'Lato', 'Calibri', Arial, sans-serif;
	font-size: 1em;
	
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	
	border-radius: 2px;
}


.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
	opacity: 0.7;
	color: #aca89a;
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}


/*Modif by Héma*/
.codrops-header{
	padding-top:14px;
}

.codrops-header .column{
	margin-top:-2px;
}

.codrops-header a.quizz{
	display:inline-block;
	float:right;
	margin-left:-10px;
	margin-right:10px;
	margin-top:4px;
}

/* Modifs Quentin */

.swiper-container {
  width: 100%;
  height: 250px;
  color: #fff;
  text-align: center;
}
.swiper-slide {
  height: 100%;
  opacity: 0.4;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.swiper-slide-visible {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.swiper-slide-active {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 0px;
  width: 100%;
  text-align: center;
  bottom: 5px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #aaa;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  position: relative;
  top: -50px;
}
.swiper-visible-switch {
  opacity: 1;
  top: 0;
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
