<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.afag.app"
    version   = "1.0.0">

<name>Cin'Apps</name>

<description>
Application bla bla bla
</description>
<icon src="icon_gap.png" />

<author href="http://cinapps.fr/" email="cinapps@gmail.com">
Cin'Apps
</author>

<preference name="phonegap-version" value="3.5.0" />
<preference name="EnableViewportScale" value="true"/>
<preference name="fullscreen" value="true" />
<preference name="webviewbounce" value="false" />
<gap:plugin name="com.phonegap.plugin.statusbar" />
<gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
</gap:config-file>
<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
</gap:config-file>
<preference name="StatusBarOverlaysWebView" value="true" />
</widget>
